/* =================================================================== */
/* DIALOGS */
/* =================================================================== */
QDialog {
    background-color: white;
}